* {
  margin: 0;	  margin: 0;
  font-family:  sans-serif;	
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;	
}	



.app{
  background-image: url(./assets/search.jpg);
  
  background-position: bottom;
  transition: 0.4 ease-out;
  /* max-width: 320px; */
  


}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.23), rgb(0, 0, 0,0.28));
} 

.app .currency{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.43), rgb(0, 0, 0,0.4));
  margin: 7px;
  display: flex;
  min-height: 30px;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  direction: rtl;
  font-weight: 800;

}
.app .header{
  height: 5rem;
  font-weight: 800;
  font-size: 50px;
  direction: rtl;
  
}

.app .updata{
  padding-right: 1px;
  font-weight: 600;
}
.app .progress{
  width: 10%
}