* {
  margin: 0;	  margin: 0;
  font-family:  sans-serif;	
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;	
}	



.app{
  background-image: url(./assets/world.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;

}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.63), rgb(0, 0, 0,0.78));
} 

.app .currency{
background-color: blue;
}